# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.Game 401.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\AORUS\Desktop\IMPORTANT\Unity\Game 401\.idea\.idea.Game 401\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
